#Mushroom Results
!RLDT.Experiments/Experiments/Mushrooms/DataSets
RLDT.Experiments/Experiments/Mushrooms/DataOrder
RLDT.Experiments/Experiments/Mushrooms/DiscountFactor
RLDT.Experiments/Experiments/Mushrooms/ExplorationRate
RLDT.Experiments/Experiments/Mushrooms/Drifting
RLDT.Experiments/Experiments/Mushrooms/FeatureSpaceSize
RLDT.Experiments/Experiments/Mushrooms/SpeedComparison
RLDT.Experiments/Experiments/Mushrooms/FeatureReplacement
RLDT.Experiments/Experiments/Mushrooms/PartialDatavectors
RLDT.Experiments/Experiments/Mushrooms/Overfitting